frontend/node_modules
.vscode
startdev.sh
backend/backend_api/bin
backend/backend_api/obj
frontend-page
backend/vault/file
backend/vault/logs
backend/vault/data/key.txt
backend/backend_api/appsettings.Production.json




